.table-responsive {
  margin-top: 25px;
}

table {

  th, td {
    &:first-child,
    &:last-child {
      width:1%;
      white-space:nowrap;
    }
  }

  tr {


    input[type=text],
    input[type=email],
    input[type=number],
    select {
      width: 100%;
      box-sizing: border-box;
      -webkit-box-sizing:border-box;
      -moz-box-sizing: border-box;
      outline: none;
    }

    &.filters {

      select {
        padding: 3px;
      }
    }

    &.user {

      input[type=text],
      input[type=email],
      input[type=number],
      .save-btn {
        display: none;
      }

      &.edit {
        input[type=text],
        input[type=email],
        input[type=number],
        .save-btn {
          display: inline-block;
        }

        .text,
        .edit-btn {
          display: none;
        }
      }
    }
  }
}