table {

  th, td {
    &:first-child {
      width:1%;
      white-space:nowrap;
    }
  }

  tr.filters {
    input[type="text"], select {
      width: 100%;
      box-sizing: border-box;
      -webkit-box-sizing:border-box;
      -moz-box-sizing: border-box;
      outline: none;
    }
  }
}