<div class="container">
    <div class="header">
        <h3 class="text-muted">User list</h3>
    </div>

    <div class="row">
        <div class="col-lg-12 opearations-menu">
            <div class="pull-right">
                <button class="btn btn-danger" ng-disabled="!vm.selection.length" ng-click="vm.remove()">Remove</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" selectable="usersShown" select-target="selection">
                    <thead>
                    <tr>
                        <th><input type="checkbox" ng-model="selectAll"/></th>
                        <th>
                            <a href="#" ng-click="vm.orderBy('FirstName')"> First Name </a>
                            <span class="order-direction" ng-show="vm.order == 'FirstName'">^</span>
                            <span class="order-direction" ng-show="vm.order == '-FirstName'">v</span>
                        </th>
                        <th>
                            <a href="#" ng-click="vm.orderBy('LastName')"> Last Name </a>
                            <span class="order-direction" ng-show="vm.order == 'LastName'">^</span>
                            <span class="order-direction" ng-show="vm.order == '-LastName'">v</span>
                        </th>
                        <th>
                            <a href="#" ng-click="vm.orderBy('Email')"> Email </a>
                            <span class="order-direction" ng-show="vm.order == 'Email'">^</span>
                            <span class="order-direction" ng-show="vm.order == '-Email'">v</span>
                        </th>
                        <th>
                            <a href="#" ng-click="vm.orderBy('Age')"> Age </a>
                            <span class="order-direction" ng-show="vm.order == 'Age'">^</span>
                            <span class="order-direction" ng-show="vm.order == '-Age'">v</span>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="filters">
                        <td></td>
                        <td>
                            <input type="text" ng-model="vm.search.FirstName" ng-change="vm.filterBy()"/>
                        </td>
                        <td>
                            <input type="text" ng-model="vm.search.LastName" ng-change="vm.filterBy()"/>
                        </td>
                        <td>
                            <input type="text" ng-model="vm.search.Email" ng-change="vm.filterBy()"/>
                        </td>
                        <td>
                            <select ng-model="vm.ageRange" ng-options="age as age.name for age in vm.ageRanges" ng-change="vm.filterBy()">
                                <option value="">All ages</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="user in vm.usersShown" class="user" ng-class="{'edit': user._underEdition === true}">
                        <td><input type="checkbox" ng-model="selectedHash[user.id]"/></td>
                        <td>
                            <span class="text">{{ user.FirstName }}</span>
                            <input type="text" ng-model="user.FirstName"/>
                        </td>
                        <td>
                            <span class="text">{{ user.LastName }}</span>
                            <input type="text" ng-model="user.LastName"/>
                        </td>
                        <td>
                            <span class="text">{{ user.Email }}</span>
                            <input type="email" ng-model="user.Email"/>
                        </td>
                        <td>
                            <span class="text">{{ user.Age }}</span>
                            <input type="number" min="10" max="90" ng-model="user.Age"/>
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs" ng-click="vm.editInPlace(user)">Edit</button>
                            <button class="btn btn-default btn-xs" ng-click="vm.editInModal(user)">Modal</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <pagination total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.paginate()"></pagination>

        </div>
    </div>

    <footer class="footer">
        <p>Sergey Goliney</p>
    </footer>

</div> <!-- /container -->
